*{
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-family: sans-serif;
}
body{
    background-color:#001;
    display: flex;

}

.img-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    flex-shrink: 0;
}
.img-box img{
    width: 100%;

}

.profile{
    display: flex;
    align-items: center;
    gap: 30px;
}
.profile h2 {
    font-size: 20px;
    text-transform: capitalize;
}

.menu{
    background-color: #123;
    width: 60px;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    transition: 0.5s;
}

.menu:hover{
    width: 260px;
} 


ul {
    list-style: none;
    position: relative;
    height: 95%;
}
ul li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
    transition: .5s;
}
ul li a:hover , .active ,.data-info .box:hover , td:hover{
    background-color: #ffffff55;
}

.log-out{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.log-out a{
    background-color: #a00;
}
ul li a i {
    font-size: 30px;
}
.content {
    width: 100%;
    margin: 10px;
}
.title-info{
    background-color: rgb(0, 128, 255);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin: 10px 0;
}

.data-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.data-info .box {
    background-color: #123;
    height: 150px;
    flex-basis:150px;
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.data-info .box i {
    font-size: 40px;

}
.data-info .box .data{
    text-align: center;
}
.data-info .box .data span{
    font-size: 30px;
}
table {
    width: 100%;
    text-align: center;
    border-spacing: 8px;    
}

td , th {
    background-color: #123;
    height: 40px;
    border-radius: 8px;
}
th{
    background-color: rgb(21, 21, 135);
}

.price , .count {
    padding: 6px;
    border-radius: 6px;

    text-align: center;
}

.price {
    background-color: green;
}
.count {
    background-color: gold;
    color: black;
}
.discound {
    margin-left:85px ;
    
}
 .off  {
    font-size: 12px;
    text-decoration: line-through;
    color: rgb(250, 250, 250);
}
.dis{
    font-size: 10px;
    padding: 3px;
    color: red;
}
.join{
    background-color: rgb(202, 4, 4);
}
.join .link{
    width: 100%;
}
td a{
    text-decoration-line: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.join:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: .5s;
    background-color: blue;

}
.content h1{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20%;
    font-size: 150px;
    transition: 0.5s;
}

@media only screen and (min-width: 0px) and (max-width: 575px)  {
    table tr {
        font-size: 10px;
        padding: 10px;
    }
    
    .content h1{
        font-size: 100px;
        width: 100%;
        margin: 200px 0;
    }
}